<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.car.develop.mapper.CarMapper">
  <resultMap id="BaseResultMap" type="com.car.develop.model.Car">
    <!--@mbg.generated-->
    <!--@Table car-->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="car_num" jdbcType="VARCHAR" property="carNum" />
    <result column="check_start_time" jdbcType="TIMESTAMP" property="checkStartTime" />
    <result column="check_end_time" jdbcType="TIMESTAMP" property="checkEndTime" />
    <result column="insurance_start_time" jdbcType="TIMESTAMP" property="insuranceStartTime" />
    <result column="insurance_end_time" jdbcType="TIMESTAMP" property="insuranceEndTime" />
    <result column="del_flag" jdbcType="VARCHAR" property="delFlag" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <!--@mbg.generated-->
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <!--@mbg.generated-->
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, car_num, check_start_time, check_end_time, insurance_start_time, insurance_end_time, 
    del_flag
  </sql>
  <select id="selectByExample" parameterType="com.car.develop.model.CarExample" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from car
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from car
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    <!--@mbg.generated-->
    delete from car
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.car.develop.model.CarExample">
    <!--@mbg.generated-->
    delete from car
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.car.develop.model.Car">
    <!--@mbg.generated-->
    insert into car (id, car_num, check_start_time, 
      check_end_time, insurance_start_time, insurance_end_time, 
      del_flag)
    values (#{id,jdbcType=VARCHAR}, #{carNum,jdbcType=VARCHAR}, #{checkStartTime,jdbcType=TIMESTAMP}, 
      #{checkEndTime,jdbcType=TIMESTAMP}, #{insuranceStartTime,jdbcType=TIMESTAMP}, #{insuranceEndTime,jdbcType=TIMESTAMP}, 
      #{delFlag,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.car.develop.model.Car">
    <!--@mbg.generated-->
    insert into car
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="carNum != null">
        car_num,
      </if>
      <if test="checkStartTime != null">
        check_start_time,
      </if>
      <if test="checkEndTime != null">
        check_end_time,
      </if>
      <if test="insuranceStartTime != null">
        insurance_start_time,
      </if>
      <if test="insuranceEndTime != null">
        insurance_end_time,
      </if>
      <if test="delFlag != null">
        del_flag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="carNum != null">
        #{carNum,jdbcType=VARCHAR},
      </if>
      <if test="checkStartTime != null">
        #{checkStartTime,jdbcType=TIMESTAMP},
      </if>
      <if test="checkEndTime != null">
        #{checkEndTime,jdbcType=TIMESTAMP},
      </if>
      <if test="insuranceStartTime != null">
        #{insuranceStartTime,jdbcType=TIMESTAMP},
      </if>
      <if test="insuranceEndTime != null">
        #{insuranceEndTime,jdbcType=TIMESTAMP},
      </if>
      <if test="delFlag != null">
        #{delFlag,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.car.develop.model.CarExample" resultType="java.lang.Long">
    <!--@mbg.generated-->
    select count(*) from car
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    <!--@mbg.generated-->
    update car
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.carNum != null">
        car_num = #{record.carNum,jdbcType=VARCHAR},
      </if>
      <if test="record.checkStartTime != null">
        check_start_time = #{record.checkStartTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.checkEndTime != null">
        check_end_time = #{record.checkEndTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.insuranceStartTime != null">
        insurance_start_time = #{record.insuranceStartTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.insuranceEndTime != null">
        insurance_end_time = #{record.insuranceEndTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.delFlag != null">
        del_flag = #{record.delFlag,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    <!--@mbg.generated-->
    update car
    set id = #{record.id,jdbcType=VARCHAR},
      car_num = #{record.carNum,jdbcType=VARCHAR},
      check_start_time = #{record.checkStartTime,jdbcType=TIMESTAMP},
      check_end_time = #{record.checkEndTime,jdbcType=TIMESTAMP},
      insurance_start_time = #{record.insuranceStartTime,jdbcType=TIMESTAMP},
      insurance_end_time = #{record.insuranceEndTime,jdbcType=TIMESTAMP},
      del_flag = #{record.delFlag,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.car.develop.model.Car">
    <!--@mbg.generated-->
    update car
    <set>
      <if test="carNum != null">
        car_num = #{carNum,jdbcType=VARCHAR},
      </if>
      <if test="checkStartTime != null">
        check_start_time = #{checkStartTime,jdbcType=TIMESTAMP},
      </if>
      <if test="checkEndTime != null">
        check_end_time = #{checkEndTime,jdbcType=TIMESTAMP},
      </if>
      <if test="insuranceStartTime != null">
        insurance_start_time = #{insuranceStartTime,jdbcType=TIMESTAMP},
      </if>
      <if test="insuranceEndTime != null">
        insurance_end_time = #{insuranceEndTime,jdbcType=TIMESTAMP},
      </if>
      <if test="delFlag != null">
        del_flag = #{delFlag,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.car.develop.model.Car">
    <!--@mbg.generated-->
    update car
    set car_num = #{carNum,jdbcType=VARCHAR},
      check_start_time = #{checkStartTime,jdbcType=TIMESTAMP},
      check_end_time = #{checkEndTime,jdbcType=TIMESTAMP},
      insurance_start_time = #{insuranceStartTime,jdbcType=TIMESTAMP},
      insurance_end_time = #{insuranceEndTime,jdbcType=TIMESTAMP},
      del_flag = #{delFlag,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>