<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.car.develop.mapper.SiteMessMapper">
  <resultMap id="BaseResultMap" type="com.car.develop.model.SiteMess">
    <!--@mbg.generated-->
    <!--@Table site_mess-->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="start_site_one" jdbcType="VARCHAR" property="startSiteOne" />
    <result column="end_site_one" jdbcType="VARCHAR" property="endSiteOne" />
    <result column="matter_name_one" jdbcType="VARCHAR" property="matterNameOne" />
    <result column="weight_one" jdbcType="VARCHAR" property="weightOne" />
    <result column="freight_total_one" jdbcType="VARCHAR" property="freightTotalOne" />
    <result column="received_money_one" jdbcType="VARCHAR" property="receivedMoneyOne" />
    <result column="debt_money_one" jdbcType="VARCHAR" property="debtMoneyOne" />
    <result column="freight_one" jdbcType="VARCHAR" property="freightOne" />
    <result column="start_site_two" jdbcType="VARCHAR" property="startSiteTwo" />
    <result column="end_site_two" jdbcType="VARCHAR" property="endSiteTwo" />
    <result column="matter_name_two" jdbcType="VARCHAR" property="matterNameTwo" />
    <result column="weight_two" jdbcType="VARCHAR" property="weightTwo" />
    <result column="freight_total_two" jdbcType="VARCHAR" property="freightTotalTwo" />
    <result column="received_money_two" jdbcType="VARCHAR" property="receivedMoneyTwo" />
    <result column="debt_money_two" jdbcType="VARCHAR" property="debtMoneyTwo" />
    <result column="freight_two" jdbcType="VARCHAR" property="freightTwo" />
    <result column="del_flag" jdbcType="VARCHAR" property="delFlag" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <!--@mbg.generated-->
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <!--@mbg.generated-->
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, start_site_one, end_site_one, matter_name_one, weight_one, freight_total_one, 
    received_money_one, debt_money_one, freight_one, start_site_two, end_site_two, matter_name_two, 
    weight_two, freight_total_two, received_money_two, debt_money_two, freight_two, del_flag
  </sql>
  <select id="selectByExample" parameterType="com.car.develop.model.SiteMessExample" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from site_mess
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from site_mess
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    <!--@mbg.generated-->
    delete from site_mess
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.car.develop.model.SiteMessExample">
    <!--@mbg.generated-->
    delete from site_mess
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.car.develop.model.SiteMess">
    <!--@mbg.generated-->
    insert into site_mess (id, start_site_one, end_site_one, 
      matter_name_one, weight_one, freight_total_one, 
      received_money_one, debt_money_one, freight_one, 
      start_site_two, end_site_two, matter_name_two, 
      weight_two, freight_total_two, received_money_two, 
      debt_money_two, freight_two, del_flag
      )
    values (#{id,jdbcType=VARCHAR}, #{startSiteOne,jdbcType=VARCHAR}, #{endSiteOne,jdbcType=VARCHAR}, 
      #{matterNameOne,jdbcType=VARCHAR}, #{weightOne,jdbcType=VARCHAR}, #{freightTotalOne,jdbcType=VARCHAR}, 
      #{receivedMoneyOne,jdbcType=VARCHAR}, #{debtMoneyOne,jdbcType=VARCHAR}, #{freightOne,jdbcType=VARCHAR}, 
      #{startSiteTwo,jdbcType=VARCHAR}, #{endSiteTwo,jdbcType=VARCHAR}, #{matterNameTwo,jdbcType=VARCHAR}, 
      #{weightTwo,jdbcType=VARCHAR}, #{freightTotalTwo,jdbcType=VARCHAR}, #{receivedMoneyTwo,jdbcType=VARCHAR}, 
      #{debtMoneyTwo,jdbcType=VARCHAR}, #{freightTwo,jdbcType=VARCHAR}, #{delFlag,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.car.develop.model.SiteMess">
    <!--@mbg.generated-->
    insert into site_mess
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="startSiteOne != null">
        start_site_one,
      </if>
      <if test="endSiteOne != null">
        end_site_one,
      </if>
      <if test="matterNameOne != null">
        matter_name_one,
      </if>
      <if test="weightOne != null">
        weight_one,
      </if>
      <if test="freightTotalOne != null">
        freight_total_one,
      </if>
      <if test="receivedMoneyOne != null">
        received_money_one,
      </if>
      <if test="debtMoneyOne != null">
        debt_money_one,
      </if>
      <if test="freightOne != null">
        freight_one,
      </if>
      <if test="startSiteTwo != null">
        start_site_two,
      </if>
      <if test="endSiteTwo != null">
        end_site_two,
      </if>
      <if test="matterNameTwo != null">
        matter_name_two,
      </if>
      <if test="weightTwo != null">
        weight_two,
      </if>
      <if test="freightTotalTwo != null">
        freight_total_two,
      </if>
      <if test="receivedMoneyTwo != null">
        received_money_two,
      </if>
      <if test="debtMoneyTwo != null">
        debt_money_two,
      </if>
      <if test="freightTwo != null">
        freight_two,
      </if>
      <if test="delFlag != null">
        del_flag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="startSiteOne != null">
        #{startSiteOne,jdbcType=VARCHAR},
      </if>
      <if test="endSiteOne != null">
        #{endSiteOne,jdbcType=VARCHAR},
      </if>
      <if test="matterNameOne != null">
        #{matterNameOne,jdbcType=VARCHAR},
      </if>
      <if test="weightOne != null">
        #{weightOne,jdbcType=VARCHAR},
      </if>
      <if test="freightTotalOne != null">
        #{freightTotalOne,jdbcType=VARCHAR},
      </if>
      <if test="receivedMoneyOne != null">
        #{receivedMoneyOne,jdbcType=VARCHAR},
      </if>
      <if test="debtMoneyOne != null">
        #{debtMoneyOne,jdbcType=VARCHAR},
      </if>
      <if test="freightOne != null">
        #{freightOne,jdbcType=VARCHAR},
      </if>
      <if test="startSiteTwo != null">
        #{startSiteTwo,jdbcType=VARCHAR},
      </if>
      <if test="endSiteTwo != null">
        #{endSiteTwo,jdbcType=VARCHAR},
      </if>
      <if test="matterNameTwo != null">
        #{matterNameTwo,jdbcType=VARCHAR},
      </if>
      <if test="weightTwo != null">
        #{weightTwo,jdbcType=VARCHAR},
      </if>
      <if test="freightTotalTwo != null">
        #{freightTotalTwo,jdbcType=VARCHAR},
      </if>
      <if test="receivedMoneyTwo != null">
        #{receivedMoneyTwo,jdbcType=VARCHAR},
      </if>
      <if test="debtMoneyTwo != null">
        #{debtMoneyTwo,jdbcType=VARCHAR},
      </if>
      <if test="freightTwo != null">
        #{freightTwo,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null">
        #{delFlag,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.car.develop.model.SiteMessExample" resultType="java.lang.Long">
    <!--@mbg.generated-->
    select count(*) from site_mess
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    <!--@mbg.generated-->
    update site_mess
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.startSiteOne != null">
        start_site_one = #{record.startSiteOne,jdbcType=VARCHAR},
      </if>
      <if test="record.endSiteOne != null">
        end_site_one = #{record.endSiteOne,jdbcType=VARCHAR},
      </if>
      <if test="record.matterNameOne != null">
        matter_name_one = #{record.matterNameOne,jdbcType=VARCHAR},
      </if>
      <if test="record.weightOne != null">
        weight_one = #{record.weightOne,jdbcType=VARCHAR},
      </if>
      <if test="record.freightTotalOne != null">
        freight_total_one = #{record.freightTotalOne,jdbcType=VARCHAR},
      </if>
      <if test="record.receivedMoneyOne != null">
        received_money_one = #{record.receivedMoneyOne,jdbcType=VARCHAR},
      </if>
      <if test="record.debtMoneyOne != null">
        debt_money_one = #{record.debtMoneyOne,jdbcType=VARCHAR},
      </if>
      <if test="record.freightOne != null">
        freight_one = #{record.freightOne,jdbcType=VARCHAR},
      </if>
      <if test="record.startSiteTwo != null">
        start_site_two = #{record.startSiteTwo,jdbcType=VARCHAR},
      </if>
      <if test="record.endSiteTwo != null">
        end_site_two = #{record.endSiteTwo,jdbcType=VARCHAR},
      </if>
      <if test="record.matterNameTwo != null">
        matter_name_two = #{record.matterNameTwo,jdbcType=VARCHAR},
      </if>
      <if test="record.weightTwo != null">
        weight_two = #{record.weightTwo,jdbcType=VARCHAR},
      </if>
      <if test="record.freightTotalTwo != null">
        freight_total_two = #{record.freightTotalTwo,jdbcType=VARCHAR},
      </if>
      <if test="record.receivedMoneyTwo != null">
        received_money_two = #{record.receivedMoneyTwo,jdbcType=VARCHAR},
      </if>
      <if test="record.debtMoneyTwo != null">
        debt_money_two = #{record.debtMoneyTwo,jdbcType=VARCHAR},
      </if>
      <if test="record.freightTwo != null">
        freight_two = #{record.freightTwo,jdbcType=VARCHAR},
      </if>
      <if test="record.delFlag != null">
        del_flag = #{record.delFlag,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    <!--@mbg.generated-->
    update site_mess
    set id = #{record.id,jdbcType=VARCHAR},
      start_site_one = #{record.startSiteOne,jdbcType=VARCHAR},
      end_site_one = #{record.endSiteOne,jdbcType=VARCHAR},
      matter_name_one = #{record.matterNameOne,jdbcType=VARCHAR},
      weight_one = #{record.weightOne,jdbcType=VARCHAR},
      freight_total_one = #{record.freightTotalOne,jdbcType=VARCHAR},
      received_money_one = #{record.receivedMoneyOne,jdbcType=VARCHAR},
      debt_money_one = #{record.debtMoneyOne,jdbcType=VARCHAR},
      freight_one = #{record.freightOne,jdbcType=VARCHAR},
      start_site_two = #{record.startSiteTwo,jdbcType=VARCHAR},
      end_site_two = #{record.endSiteTwo,jdbcType=VARCHAR},
      matter_name_two = #{record.matterNameTwo,jdbcType=VARCHAR},
      weight_two = #{record.weightTwo,jdbcType=VARCHAR},
      freight_total_two = #{record.freightTotalTwo,jdbcType=VARCHAR},
      received_money_two = #{record.receivedMoneyTwo,jdbcType=VARCHAR},
      debt_money_two = #{record.debtMoneyTwo,jdbcType=VARCHAR},
      freight_two = #{record.freightTwo,jdbcType=VARCHAR},
      del_flag = #{record.delFlag,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.car.develop.model.SiteMess">
    <!--@mbg.generated-->
    update site_mess
    <set>
      <if test="startSiteOne != null">
        start_site_one = #{startSiteOne,jdbcType=VARCHAR},
      </if>
      <if test="endSiteOne != null">
        end_site_one = #{endSiteOne,jdbcType=VARCHAR},
      </if>
      <if test="matterNameOne != null">
        matter_name_one = #{matterNameOne,jdbcType=VARCHAR},
      </if>
      <if test="weightOne != null">
        weight_one = #{weightOne,jdbcType=VARCHAR},
      </if>
      <if test="freightTotalOne != null">
        freight_total_one = #{freightTotalOne,jdbcType=VARCHAR},
      </if>
      <if test="receivedMoneyOne != null">
        received_money_one = #{receivedMoneyOne,jdbcType=VARCHAR},
      </if>
      <if test="debtMoneyOne != null">
        debt_money_one = #{debtMoneyOne,jdbcType=VARCHAR},
      </if>
      <if test="freightOne != null">
        freight_one = #{freightOne,jdbcType=VARCHAR},
      </if>
      <if test="startSiteTwo != null">
        start_site_two = #{startSiteTwo,jdbcType=VARCHAR},
      </if>
      <if test="endSiteTwo != null">
        end_site_two = #{endSiteTwo,jdbcType=VARCHAR},
      </if>
      <if test="matterNameTwo != null">
        matter_name_two = #{matterNameTwo,jdbcType=VARCHAR},
      </if>
      <if test="weightTwo != null">
        weight_two = #{weightTwo,jdbcType=VARCHAR},
      </if>
      <if test="freightTotalTwo != null">
        freight_total_two = #{freightTotalTwo,jdbcType=VARCHAR},
      </if>
      <if test="receivedMoneyTwo != null">
        received_money_two = #{receivedMoneyTwo,jdbcType=VARCHAR},
      </if>
      <if test="debtMoneyTwo != null">
        debt_money_two = #{debtMoneyTwo,jdbcType=VARCHAR},
      </if>
      <if test="freightTwo != null">
        freight_two = #{freightTwo,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null">
        del_flag = #{delFlag,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.car.develop.model.SiteMess">
    <!--@mbg.generated-->
    update site_mess
    set start_site_one = #{startSiteOne,jdbcType=VARCHAR},
      end_site_one = #{endSiteOne,jdbcType=VARCHAR},
      matter_name_one = #{matterNameOne,jdbcType=VARCHAR},
      weight_one = #{weightOne,jdbcType=VARCHAR},
      freight_total_one = #{freightTotalOne,jdbcType=VARCHAR},
      received_money_one = #{receivedMoneyOne,jdbcType=VARCHAR},
      debt_money_one = #{debtMoneyOne,jdbcType=VARCHAR},
      freight_one = #{freightOne,jdbcType=VARCHAR},
      start_site_two = #{startSiteTwo,jdbcType=VARCHAR},
      end_site_two = #{endSiteTwo,jdbcType=VARCHAR},
      matter_name_two = #{matterNameTwo,jdbcType=VARCHAR},
      weight_two = #{weightTwo,jdbcType=VARCHAR},
      freight_total_two = #{freightTotalTwo,jdbcType=VARCHAR},
      received_money_two = #{receivedMoneyTwo,jdbcType=VARCHAR},
      debt_money_two = #{debtMoneyTwo,jdbcType=VARCHAR},
      freight_two = #{freightTwo,jdbcType=VARCHAR},
      del_flag = #{delFlag,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>